@{
    ViewData["Title"] = "© Patrice Waechter-Ebling 2023";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue Ceci est une démo pour</h1>
    <h2 class="display-5">Application Web ASP.Net Core</h2>
    <h3 class="display-5">[ControlerView] paramétrée pour HTTP</h3> 
    <p> <a class="display-3 href="https://sqlinfocg.cegepgranby.qc.ca/2196136/SitesWeb/ResponsiveD_Patrice/">Site Web</a>.</p>
<footer>
	<H5>Auteur de la page Web: Patrice Waechter-Ebling  © 2023</H5><p></p>N'hésitez pas à'Contacter l’auteur<br /> pour suggérer vos modifications.
	<H4>Programmation Web </h4>
</footer>
</div>

